main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#generator{
    font-weight: bold;
}

.background{
    top: 80px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.qr-size{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
}

.settings-qrcode{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 34px;
    background-color: #50A8BB;
    padding: 20px 40px;
    border: 6px solid #003B48;
    border-radius: 20px;
}

.input{
    display: flex;
    
}

.input-color{
    display: flex;
    gap: 10px;
}

.header-title{
    width: 100%;
    text-align: center;
    font-size: 60px;
}

.p-style{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37.56px;
    font-weight: bold;
    width: 128.04px;
    font-family: "Inter", sans-serif;
}


.p-style-color{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37.56px;
    font-weight: bold;
    width: 131px;
    font-family: "Inter", sans-serif;
    border: none;
}


.input-color{
    width: 0;
    height: 0;
    border: 0;
    padding: 0;
}

.custom-color-picker{
    display: flex;
    width: 401px;
    height: 39px;
    background-color: black;
    margin: 0;
    border: 1px solid black;
    border-radius: 10px;
    
}

.input-file:hover{
    background-color: transparent;
}

.input-color:hover{
    background-color: transparent;
}



.input-file{
    display: none;
    background-color: transparent;
    border: none;
    padding: 0;
}

.input-file1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#text-file{
    white-space: nowrap;
    width: fit-content;
}

.input-size{
    width: 682.88px;
    height: 68.29px;
}

/* input[type="file"]::-webkit-file-upload-button {

    font-size: 47.1px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
    padding: 13.13px 17.51px;
    border-radius: 8.7px;
    background-color: #11859F;
    transition: 0.1s;
    border-width: 0px;
    margin-left: 20px;
} */

select{
    width: 682px;
    height: 68px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 8px;
    border: 2px solid #003B48;
    background-color: #57BACE;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    overflow: hidden;
}

option{
    display: flex;
    background-color: #11859F;
    justify-content: start;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 26px;
    padding: 2px 0px 2px 10px;
    border: 1px solid #003B48;
}

.bottom-option{
    border-radius: 0px 0px 8px 8px;
}


.bord-qrcode{
    width: 902.91px;
}