*{
    padding: 0px;
    margin: 0px;
}
body{
    overflow: hidden;
}
header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(17, 133 , 159);
    flex-direction: row;
}
.main-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    gap: 60px;
    color: white;
    font-size: 32px;
    font-weight: 400;
}
.login-links{
    position: absolute;
    width: 411px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    right: 50px;
    align-items: center;
    gap: 60px;
    color: white;
    font-size: 32px;
    font-weight: 400;
}
.header-button{
    padding: 10px 15px 10px 15px;
    text-align: center;
    background-color: rgb(0, 80, 98);
    color: white;
    font-size: 32px;
    font-weight: 400;
    border-radius: 20px;
    transition: 0.2s;
}
.header-button:hover{
    background-color: rgb(0, 100, 122);
    cursor: pointer;
    transition: 0.3s;
}
.header-link{
    color: white;
    text-decoration: none;
    font-family:"Inter", sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    overflow-y: hidden;
    height: calc(100vh - 80px);
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.username{
    font-family: "Inter";
    font-size: 34px;
    color: white;
    font-weight: 400;
    display: flex;
    white-space: nowrap;
}