@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.background-myqrcodes{
    top: 80px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

#my-codes{
    font-weight: 700;
}

main{
    overflow-y: scroll;
    scrollbar-width: none;
    padding-top: 30px;
    gap: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
}

.myqrcodes-title{
    font-size: 44px;
    font-weight: 700;
    font-family: "Instrument Sans", serif;
    text-align: center;
}
.myqrcodes-cards{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    gap: 100px;
    justify-content: center;
    
}
.myqrcode-card{
    display: flex;
    width: 270px;
    height: 374px;
    flex-direction: column;
    padding-top: 10px;
    
    background-color: white;
    border: 1px solid rgb(0,59,72);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    align-items: center;
    overflow: hidden;
.qrcode{
    width: 250px;
    height: 250px;
    padding-bottom: 10px;
}
}
.qrcode-info{
    display: flex;
    padding-top: 10px;
    width: 270px;
    height: 54px;
    justify-content: center;
    color: white;
    font-size: 28px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    background-color: rgb(0,109,133);
    
   
}
.qrcode-download{
    display: flex;
    width: 270px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: rgb(17,133,159);
    color: white;
    font-size: 40px;
    font-weight: 400;
    font-family: "Inter",sans-serif;
    padding: 10px;
    border-top-left-radius:0px ;
    border-top-right-radius:0px ;
   
}

.modal-window{
    display: flex;
    height: 370px;
    flex-direction: row;
    gap:38.92px;
    padding-left: 31.13px;
    background-color: white;
    border: 3.28px solid rgb(0,80,98);
    border-radius: 31.13px;
    position: fixed;

   

}
.qrcode-modal{
    width: 306px;
    height: 306px;
    padding-top: 31.13px;
    padding-bottom:31.13px ;
}
.modal-info{
    display: flex;
    flex-direction: column;
    gap: 15.57px;
    font-size: 31.13px;
    font-weight: 700;
    font-family: "Inter",sans-serif;
    padding-top: 10px;
}
.end-decoration{
    display: flex;
    max-height: 370px;
    gap: 7.78px;
    padding: 10px;
    background-color: rgb(17,133,159);
    border-radius: 3.28px solid rgb(0,80,98);
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;
    overflow: hidden;
    border-top-right-radius: 27.5px;
    border-bottom-right-radius: 27.5px;
    border-left: 3.28px solid rgb(0,80,98);
}
.cross-image{
    width: 60px;
    height: 60px;
}
.blur{
    display: none;
    top: 80px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: calc(100% - 80px);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(2px);
}
.qrcode-download-button{
    max-width: fit-content;
    margin: auto;
}

.color{
    width: 150px;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}
.qrcode-color{
    display: flex;
    flex-direction: row;
    gap: 20px;
}