{% extends "base.html" %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'login_app/css/style.css' %}">
{% endblock %}

{% block content %}
    <img src="{% static 'login_app/img/background.png' %}" alt="" class="background">
    <form method = "post" class = "login-form">
        {% csrf_token %}
        <h1 class = "header-title">Login</h1>
        <div class = "input-block">
            <label for = "username" class = "login-form-name">Write down your username</label>
            <input type = "text" placeholder = "Your username..." name = "username" class = "login-form-input" required>
        </div>
        <div class = "input-block">
            <label for = "password" class = "login-form-name">Write down your password</label>
            <input type = "password" placeholder = "Your password..." name = "password" class = "login-form-input" required>
        </div>
        {% if message == "incorrect" %}
            <p class = "login-warning-text">Your username or password is incorrect, be sure that you <a href="{% url 'registration' %}" class = "login-warning-link">have an account</a></p>
        {% elif message == 'verified' %}
            <p class = 'login-warning-text'>You have not confirmed your email address. Please check your email to confirm the address.</p>
        {% else %}
            <p class = "login-goto-text">Dont have an account? <a href = "{% url 'registration' %}" class = "login-goto-link">Registration</a></p>
        {% endif %}
        <button class = "submit-button">Login</button>
    </form>
{% endblock %}