{% extends "base.html" %} 
{% load static %}


{% block title %}
    Home App
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'home_app/css/logined.css' %}">
{% endblock %}

{% block content %}
    <img src="{% static 'home_app/img/background.png' %}" alt="" class="background" >
    <h1 class = "header-title">Welcome, User, to our QR code generator!<br>
        We offer you some subscriptions to make your QR codes better!</h1>
    <div class="all-cards">
        <div class="subscription-card">
            <div class="subscription-type">
                <p class="sub-type">Free</p>
            </div>
            <p class="subscription-description">• 1 QR-Code for 6 <br> months</p>
            <p class="subscription-cost">Cost: Free</p>
            <div class="subscription-price">
                <p class="sub-price">You are subscribed</p>
            </div>
        </div>
        <div class="subscription-card">
            <div class="subscription-type" id="second-card-type">
                <p class="sub-type">Standart</p>
            </div>
            <p class="subscription-description">• Up to 10 custom <br> QR-Codes in your <br> cloud library</p>
            <p class="subscription-cost">Cost: 2$ per month</p>
            <div class="subscription-price" id="second-card-price">
                <p class="sub-price">Subscribe</p>
            </div>
        </div>
        <div class="subscription-card">
            <div class="subscription-type" id="third-card-type">
                <p class="sub-type">Pro</p>
            </div>
            <p class="subscription-description">• Up to 100 custom <br>QR-Codes in your <br>cloud library
            </p>
            <p class="subscription-cost">Cost: 10$ per month</p>
            <div class="subscription-price" id="third-card-price">
                <p class="sub-price">Subscribe</p>
            </div>
        </div>
    </div>
{% endblock %}