@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.background{
    top: 80px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

#home{
    font-weight: 700;
}

.header-title{
    text-align: center;
    font-weight: 700;
    font-size: 44px;
    font-family: "Instrument Sans", serif;
    color: rgb(204, 247, 255);
}
main{
    padding-top: 40px;
    display: flex;
    flex-direction: columr;
    /* justify-content: center; */
    align-items: center;
}
.all-cards{
    display: flex;
    width: 1542px;
    height: 478.3px;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
}
.subscription-card{
    display: flex;
    width: 488px;
    height: 478.3px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: white;
    border: 4.22px solid rgb(0, 80 ,98);
    border-radius: 33.8px;
    overflow: hidden;
}
.subscription-type{
   text-align: center;
    width: 488px;
    height: 133px;
   
    background-color: rgb(17, 121, 144);
    border-bottom: 4.22px solid rgb(0,80, 98);
}
.sub-type{
    padding-top: 40.56px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.subscription-description{
    width: 368px;
    height: 117px;
    font-size: 32px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.subscription-cost{
    font-size: 30px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.subscription-price{
    width: 488px;
    height: 133px;
    text-align: center;
  
    background-color: rgb(0,73,89);
    border-top: 4.22px solid rgb(0, 80 ,98);
    color: rgb(114,114,114);
}
.sub-price{
    padding-top: 40.56px;
    font-size: 47.1px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
#third-card-type{
    background-color: rgb(31,184,219);
    color: white;
}
#third-card-price{
    background-color: rgb(31,184,219); 
    color: white;   
}
#second-card-type{
    background-color: rgb(17,133,159);
    color: white;
}
#second-card-price{
    background-color: rgb(17,133,159);
    color: white;
}