main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
#home{
    font-weight: 700;
}
.header-title{
    width: 100%;
    height: 121px;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    font-family: "Instrument Sans", sans-serif;
    color: rgb(204, 247, 255);
}

.background{
    top: 80px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.cta-input{
    width: 693px;
    height: 82px;
    background-color: rgb(234, 252, 255);
    border: 3px black solid;
    border-radius: 30px;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    padding-left: 17px;
}
.cta-input::placeholder{
    font-style: italic;
    color: rgb(128,128,128);
}

.cta-button{
    display: flex;
    border: 4px solid rgb(0, 80 ,98);
    height: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.input-description{
    color: rgba(181, 243, 255);
    font-size: 24px;
    font-family: "Inter", sans-serif;
    opacity: 70%;
    text-align: center;
}
.all-cards{
    display: flex;
    width: 100vw;
    height: fit-content;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    flex-wrap: wrap;
}
.subscription-card{
    display: flex;
    width: 450px;
    height: 478.3px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: white;
    border: 4.22px solid rgb(0, 80 ,98);
    border-radius: 33.8px;
    overflow: hidden;
}
.subscription-type{
   text-align: center;
    width: 488px;
    height: 111px;
    background-color: rgb(17, 121, 144);
    border-bottom: 4.22px solid rgb(0,80, 98);
}
.sub-type{
    /* padding-top: 40.56px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: 700;
    height: 100%;
    font-family: "Inter", sans-serif;
}
.scroll-box{
    height: calc(100vh - 80px);
    width: 100vw;                   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 35px;
    gap: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
.subscription-description{
    width: 368px;
    height: 117px;
    font-size: 32px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.subscription-cost{
    font-size: 30px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.subscription-price{
    width: 450px;
    height: 153px;
    min-height: 153px;
    max-height: 153px;
    text-align: center;
    transition: 0.2s;
    background-color: rgb(17, 121, 144);
    border-top: 4.22px solid rgb(0, 80 ,98);
    color: rgb(255,255,255);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.sub-price{
    /* padding-top: 40.56px; */
    font-size: 47.1px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
#third-card-type{
    background-color: rgb(31,184,219);
    color: white;
}
#third-card-price{
    background-color: rgb(31,184,219); 
    color: white;   
}
#second-card-type{
    background-color: rgb(17,133,159);
    color: white;
}
#second-card-price{
    background-color: rgb(17,133,159);
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.fast-qrcode-input{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.avalaible-subscription .subscription-price:hover{
    filter: brightness(120%);
    transition: 0.2s;
    cursor: pointer;
}
.bright-option{
    background-color: rgb(17,133,159);
    color: white;
}

.brighter-option{
    background-color: rgb(28,178,210); 
    color: white;
}

.brightest-option{
    background-color: rgb(50,214,239); 
    color: white;
}